.list-container {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid #374bab;
  border-radius: 5px;
  color: #374bab;
  margin-bottom: 2px;
  transition: all 0.3s;

  cursor: pointer;
  &:hover {
    background-color: #374bab;
    color: white;
  }
  &.select {
    background-color: #374bab;
    color: white;
  }
  .branch {
    padding-top: 2px;
    padding-bottom: 3px;
  }
}
