.cost-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.title {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 13px;
}
