.back-white {
  background-color: white;
  border: 1.4px solid #e4e4e4;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  .profile-con {
    text-align: center;
    border-bottom: 1px solid #dedede;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    .profile-img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 45px;
      border-radius: 30px;
      -moz-border-radius: 30px;
      -khtml-border-radius: 30px;
      -webkit-border-radius: 30px;
    }
    .profile-title {
      font-size: 11px;
    }
  }

  .header {
    text-align: center;
    font-size: 13px;
    margin-top: 22px;
  }

  .lounge {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    .container {
      max-width: 300px;
      position: relative;
      width: 90vw;
      .wholeLounge {
        width: 100%;
      }
    }
  }
  .now-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .now-using {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .return-btn {
      height: 24px;
      width: 148px;
      border: 1px solid #374bab;
      border-radius: 3px;
      margin-bottom: 30px;
      cursor: pointer;
      &:hover {
        background-color: #374bab;
        color: white;
      }
    }
  }
}
