.lounge {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  .container {
    max-width: 300px;
    position: relative;
    width: 90vw;
    .wholeLounge {
      width: 100%;
    }
  }
}
