.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  &-noshow {
    animation: brightgone 1s;
    animation-fill-mode: forwards;
  }

  &-show {
    display: flex;
    animation: dark 1s;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-first {
    display: none;
  }

  .column {
    position: fixed;
    &-show {
      animation: show 1s;
      animation-fill-mode: forwards;
    }

    &-noshow {
      animation: rightmove 1s;
      animation-fill-mode: forwards;
    }
    background: #1b1c1d;
    height: 100%;
    width: 260px;
    .nav {
      .list {
        margin-top: 60px;
        .list-item {
          color: rgba(255, 255, 255, 0.9);
          font-size: 1em;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          &:hover {
            background-color: #2d2e2f;
            // transition: all 0.5s;
          }

          & a,
          & .list-content {
            color: #fff;
            text-decoration: none;
            outline: none;
            width: 100%;
            height: 100%;
            text-align: center;
            a.staff-menu {
              color: #007fff;
            }
          }

          & .admin-menu {
            color: #007fff;
            height: 100%;
            text-align: center;
            &:hover,
            &:active {
              color: #007fff;
              text-decoration: none;
              background-color: inherit;
            }
          }

          a:hover,
          a:active {
            text-decoration: none;
            color: #fff;
            background-color: inherit;
          }

          .menuLogo {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              display: flex;
              align-items: center;
              img {
                width: 60px;
                height: 39px;
              }
            }
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes dark {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes brightgone {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    left: 0;
  }
  20% {
    background-color: rgba(0, 0, 0, 0);
  }
  99% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes show {
  0% {
    right: -260px;
  }
  to {
    right: 0;
  }
}

@keyframes rightmove {
  from {
    right: 0;
  }
  to {
    right: -260px;
  }
}
