.message {
  margin-top: 25px;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  .button {
    text-align: center;
    @include whiteButton();
    width: 31%;

    &.selected {
      background-color: #374bab;
      color: white;
    }
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .hint {
      font-size: 10px;
      color: #898989;
    }
  }
}
