@font-face {
  font-family: 'YiSunShinDotumM';
  src: url('fonts/SunshinDotumM.eot?#iefix') format('embedded-opentype'),
    url('fonts/SunshinDotumM.woff') format('woff'),
    url('fonts/SunshinDotumM.ttf') format('truetype'),
    url('fonts/SunshinDotumM.svg#YiSunShinDotumM') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YiSunShinDotumL';
  src: url('fonts/SunshinDotumL.eot?#iefix') format('embedded-opentype'),
    url('fonts/SunshinDotumL.woff') format('woff'),
    url('fonts/SunshinDotumL.ttf') format('truetype'),
    url('fonts/SunshinDotumL.svg#YiSunShinDotumL') format('svg');
  font-weight: normal;
  font-style: normal;
}
