.container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  .spinner {
    height: 32px;
    animation: spinner 1.2s steps(12) infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
