.seat {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  .name {
    position: absolute;
    top: 17%;
    font-size: 13px;
    @include breakpoint("phone") {
      font-size: 10px;
    }
  }
  img {
    width: 100%;
    &.spinner {
      animation: spinner 1.2s steps(12) infinite;
    }
  }
  &:hover {
    background-color: yellow;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
