.seat {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  .name {
    position: absolute;
    top: 12%;
    font-size: 13px;
    @include breakpoint('phone') {
      font-size: 10px;
    }
  }
  img {
    width: 100%;
  }
  &:hover {
    background-color: yellow;
  }
}
