.staff-menu-con {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  @include breakpoint("phone") {
    font-size: 15px;
  }
  .staff-menus {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;

    .staff-menu-item {
      margin-left: 5px;
      margin-right: 5px;
      width: 100px;
      @include breakpoint("phone") {
        width: 70px;
      }
      text-align: center;
      cursor: pointer;
      &:hover {
        color: #007fff;
      }
    }
  }
}
